[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/html5"]
	path = bundle/html5
	url = git://github.com/othree/html5.vim.git
    ignore = dirty
[submodule "bundle/powershell"]
	path = bundle/powershell
	url = git://github.com/PProvost/vim-ps1
    ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
    ignore = dirty
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
    ignore = dirty
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = git://github.com/bkad/CamelCaseMotion.git
    ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/inkarkat/nerdcommenter.git
    ignore = dirty
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/inkarkat/vim-repeat.git
    ignore = dirty
